
.profile-link:hover{
	text-decoration:none
}
.profile-link:focus{
	text-decoration:none
}
.dropdown-toggle::after {
    display:none;
}
.dropdown-item{
	color:#fff;
	font-size:0.8em;
	margin-top:15px
}
.dropdown-item:hover{
	background:#374b6e;
	color:#fff
}
.edit{
	color:#555;
	font-size:0.9em
}
.edit:hover{
	color:#000
}
.edit:focus{
	color:#000
}
.wrapper{
	min-height: 100%;
    height: auto !important;
    height: 100%;
}
.navbar{
	background:#2a384f;
	padding:15px
}

.nav-link{
	color:#fff
}

.homepage_background_image{
  width: 100%;
}

.main{
	background:#fff;
	padding: 10px 10px
}

.homepage_h1{
	display:none
}

.homepage_h3{
	display:none;
}

.white_box{
	width: 100%;
	margin-bottom:40px;
-webkit-box-shadow: 2px 4px 8px 0px rgba(0,0,0,0.48);
-moz-box-shadow: 2px 4px 8px 0px rgba(0,0,0,0.48);
box-shadow: 2px 4px 8px 0px rgba(0,0,0,0.48);
}

.white_box_review{
	font-size:0.9em;
	font-style:italic;
	color:#777
}

.white_box_grey{
	margin:0;
	color:#999;
	font-weight:normal;
	font-size:0.9em
}

.white_box_img{
	width:100%
}

.white_box_star img{
	width:60%;

}

.website_top_box{
	width:100%;
	background:#fff;
	border:1px solid #e2e2e2;
	padding:20px;
}

.website_title{
	font-size:2em;
	margin:0;
	margin-top:-2px
}

.website_link{
	color:#777
}

.related{
	padding:10px;-webkit-box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.75);
box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.75);
}

.progress_a {
  width: 110px;
  height: 110px;
  background: none;
  position: relative;
}

.progress_a::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 7px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
}

.progress_a>span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.progress_a .progress-left {
  left: 0;
}

.progress_a .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 7px;
  border-style: solid;
  position: absolute;
  top: 0;
}

.progress_a .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.progress_a .progress-right {
  right: 0;
}

.progress_a .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}

.progress_a .progress-value {
  position: absolute;
  top: 0;
  left: 0;
}

.read_reviews{
	display:none
}

.cimage{
	max-width:60%
}

.hsearch{
	padding:0;
}

.htext{
	display:none
}

#blue{
	display:none
}

#website_image{
	width:175px;height:110px
}

.btn-grey{
    background-color:#D8D8D8;
	color:#FFF;
}
.fa-star{
	color:#fff
}

.rp_top_bar{
	background:#fff;
	padding:20px;
	border-bottom:2px solid #e2e2e2
}

.rp_top_bar_container{
	margin-top:20px
}

.rp_image_container{
	float:left;
	margin-right:30px
}

.rp_image{
	max-width:250px;
	border:1px solid #e2e2e2
}

.rp_link{
	font-size:1em;
	color:#555
}

.rp_reviews{
	margin-top:10px;
	font-size:1.2em;
	color:#555
}

.rp_tabs a{
	color:#555;
}

.badges{width:100%}.badges__buttons,.badges__scroll-buttons{display:flex;flex-direction:row;flex-wrap:wrap;align-items:center;margin:0}.badges__buttons .badge-item,.badges__scroll-buttons .badge-item{margin-left:8px}@media only screen and (min-width:1024px){.badges__buttons .badge-item:last-child,.badges__scroll-buttons .badge-item:last-child{margin-top:0}}.badges__buttons .button,.badges__scroll-buttons .button{margin-bottom:0}@media only screen and (min-width:640px){.badges__buttons,.badges__scroll-buttons{justify-content:flex-end}.sticky--offscreen .badges__buttons .inviting-status-button--wrapper,.sticky--offscreen .badges__scroll-buttons .inviting-status-button--wrapper{margin-right:0}}.sticky--offscreen-always .badges__buttons .inviting-status-button--wrapper,.sticky--offscreen-always .badges__scroll-buttons .inviting-status-button--wrapper,.sticky--offscreen .badges__buttons .inviting-status-button--wrapper,.sticky--offscreen .badges__scroll-buttons .inviting-status-button--wrapper{margin-right:0;display:none}.badges__badges,.badges__scroll-buttons,.badges__write-review-button{display:none}@media only screen and (min-width:640px){.badges__buttons{display:none}.badges__badges{display:block;width:100%}.sticky--offscreen .badges{display:flex;align-items:center;justify-content:flex-end}.sticky--offscreen .badges__scroll-buttons{display:flex}.sticky--offscreen .badges__badges{display:none}}.sticky--offscreen-always .badges{display:flex;align-items:center;justify-content:flex-end}.sticky--offscreen-always .badges__scroll-buttons{display:flex}.sticky--offscreen-always .badges__badges{display:none}@media only screen and (min-width:768px){.sticky--offscreen .badges__write-review-button{display:block}}@media only screen and (min-width:1024px){.sticky--offscreen-always .badges .inviting-status-button--wrapper,.sticky--offscreen .badges .inviting-status-button--wrapper{display:block}}.sticky--offscreen-always .badges__write-review-button{display:block}.badge-card{background-color:#fff;position:relative;display:flex;flex-direction:column;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;text-decoration:none;max-width:250px}@media only screen and (min-width:1024px){.badge-card{max-width:360px}}.badge-card__section{border:1px solid #e8e8eb;border-radius:0;padding:14px 24px;transition:background-color .2s linear}.badge-card__section:not(:first-child){border-top:0}.badge-card__section:first-child{border-top-left-radius:2px;border-top-right-radius:2px}.badge-card__section:last-child{border-bottom-left-radius:2px;border-bottom-right-radius:2px}.badge-card__header{display:flex;flex-direction:row;align-items:center;color:#000032;font-weight:700}.badge-card__title{margin-left:8px;color:#000032;font-weight:500;font-size:16px;font-size:1rem;line-height:24px;line-height:1.5rem}.badge-card__section:focus,.badge-card__section:hover{background-color:#f2f2f5;text-decoration:none}.badge-card__section:hover .badge-card__title:after{opacity:1}.badge-card__external-link-icon{opacity:.6}.badge-card__description{display:block;color:#454554}


.profile-img{
    text-align: center;
}
.profile-img img{
    width:100px;
	max-height:100px
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 30px;
    color: #333
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}
@media only screen and (max-width: 575px){
	.ctitle{
		padding-top:10px;
	}
	.ctitle a{
		font-size:20px
	}
	.cimage{
		width:30%
	}
	#hh2 h2{
		font-size:14px
	}
	#website_image{
		width:100%;
		height:200px
	}
	.website_title{
		font-size:20px;
		margin-top:10px
	}
	#website_review{
		margin-top:15px
	}
	#website_buttons{
		margin-top:10px
	}
}

@media only screen and (max-width: 767px){
	.ctitle{
		font-size:14px
	}
	.cimage{
		max-width:80%
	}
	.homepage_h3_mobile{
		display:none
	}
}

@media only screen and (min-width: 767px){
	#website_buttons{
		display:flex;justify-content:center;align-items:center
	}
}

@media only screen and (min-width: 600px){
	.homepage_h1{
		display:block
	}
	.homepage_h3{
		display:block
	}
	.homepage_h3_mobile{
		display:none
	}
	.htext{
		display:block
	}
	#blue{
		display:block
	}
}

@media only screen and (min-width: 1200px){
	.read_reviews{
		display:block
	}
}

@media only screen and (min-width: 992px){
	.homepage_h1{
		display:block
	}
}

.rating-value{
    align-items: center;
    border: 2px white solid;
    border-radius: 50%;
    display: flex;
    color: #fff;
    font-size: 12px;
    height: 28px;
    width: 28px;
    background-color: rgb(66, 103, 178);
    z-index: 3;
    justify-content: center;
}